.checkout-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  background-color: #000000;
  min-height: 100vh;
  box-shadow: #e81717;
  
  
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.checkout-left, .checkout-right {
  background-color: #1f2125;
  padding: 25px;
  border-radius: 12px;
  flex: 1 1 350px;
  max-width: 600px;
  border-color: #4b0807;
}

.checkout-left h2, .checkout-right h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f1f5f9;
  font-size: 24px;
  font-weight: 600;
}

.input-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input-card label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #f6f6ff;
}

.input-card input,
.input-card select {
  padding: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #e5e7e9;
  color: #393737;
}

.input-card input::placeholder {
  color: #5e5656;
  height: 40px;
}

.input-card input:focus,
.input-card select:focus {
  box-shadow: 0 0 0 2px #e81717;
}

.payment-select {
  cursor: pointer;
}

.checkout-right .checkout-item {
  display: flex;
  margin-bottom: 15px;
  background-color: #c0bcbc;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
}

.checkout-right .checkout-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;

}

.checkout-item-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.checkout-item-details p {
  margin: 5px 0;
  color: #feffff;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;

  
}

.qty-controls button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 4px;
  background-color: #ff2623;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.checkout-total {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.checkout-total h3 {
  font-size: 20px;
}

.checkout-total button {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  background-color: #610b0b;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout-total button:hover {
  background-color: #9e2c2c;
}

@media (max-width: 900px) {
  .checkout-wrapper {
    flex-direction: column;
    padding: 30px 20px;
  }
}
