name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install packages
        run: npm install

      - name: Run tests
        run: npm test -- --watchAll=false || true

      - name: Build Docker image
        run: docker build -t my-app .

      - name: Run Docker
        run: docker run -d -p 3000:3000 my-app
